<style>
  .step {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0 0 10px;
  }
</style>

<div class="container">
  <h2>Instructions</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="step border border-dark rounded">
        <h3>Login</h3>
        <ul>
          <li class="text-start">
            You can login with: <br /><b
              >email:yokesh@gmail.com <br />password:yokesh</b
            >
          </li>
          <li class="text-start">Or you can sign up using the sign up.</li>
          <li class="text-start">
            Once the validation done, the submit button will be enabled.
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="step border border-dark rounded">
        <h3>Regiter</h3>
        <ul>
          <li class="text-start">Here you can register with yourself.</li>
          <li class="text-start">
            Once registered it will navigated to login page.
          </li>
          <li class="text-start">Again login process should be done.</li>
          <br />
          <br />
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="step border border-dark rounded">
        <h3>Home</h3>
        <ul>
          <li class="text-start">Products will be loaded.</li>
          <li class="text-start">You can add to cart.</li>
          <li class="text-start">
            The cart count will be increased in the navbar.
          </li>
          <br /><br />
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="step border border-dark rounded">
        <h3>Cart</h3>
        <ul>
          <li class="text-start">
            Clicking on cart page, cart page will be loaded.
          </li>
          <li class="text-start">
            Here you will get the products with,
            <ul>
              <li>Preview</li>
              <li>Title</li>
              <li>Price</li>
              <li>Quantity</li>
              <li>Total price</li>
            </ul>
          </li>
          <li class="text-start">
            While You click checkout, the process will be completed.
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-4"></div>
  </div>
  <h2>Technology used</h2>
  <ul>
    <li>Html 5</li>
    <li>Css 3</li>
    <li>Bootstrap 5.3.2</li>
    <li>Angular 16.2.9</li>
  </ul>
</div>
<div class="d-flex ms-5">
  <h3>Click on continue to experience the application</h3>
  <a routerLink="/login" class="btn btn-primary mb-2 mt-1 p-2 ms-3">Continue</a>
</div>
